<h1>Tableau des présences</h1>
<h2 class="text-center">Cours
    <% if @cour.typcours == 0 %>
        Adultes
    <% elsif @cour.typcours == 1 %>
        Enfants
    <% elsif @cour.typcours == 2 %>
        Mixte
    <% end %>
    <%= @cour.nomvil %>
</h2>

<%= render 'form', presence: @presence %>

<%= link_to 'Retour', presencesel_path %>
