<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour,</h1>

    <p>
        N'ayant pas reçu votre réglement, votre commande a été automatiquement annulée.
    </p>

    <p>Vous avez la possibilité de vous connecter à votre compte pour retrouver votre commande dans votre panier et renouveller votre paiement. Vous avez également la possibilité d'y supprimer votre commande.</p>
    <p>Tout le Grupo Cultura Capoeira vous remercie et vous dit à bientôt.</p>
  </body>
</html>