<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour,</h1>

    <p>
        N'ayant pas reçu votre réglement, votre commande a été automatiquement annulée.
    </p>

    <p>Vous avez la possibilité de vous connecter à votre compte pour renouveller votre commande et votre paiement.</p>
    <p>Tout le Grupo Cultura Capoeira vous remercie et vous dit à bientôt.</p>
  </body>
</html>