<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour,</h1>

    <p>
        Nous vous bien reçu votre réglement.
    </p>

    <p>Vous trouverez, ci-joint, votre facture détaillée.</p>
    <p>Tout le Grupo Cultura Capoeira vous remercie et vous dit à bientôt.</p>
  </body>
</html>