/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "font-awesome-sprockets";
@import "font-awesome";

  $primary: #3366CC;
  $secondary: #999999;
  $success: #66CC33;
  $info: #999999;
  $warning: #FFFF33;
  $danger: #CC3333;
  $light: #FFFFFF;
  $dark: #333333;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark
) !default;

@import "bootstrap";
@import "enseignants.scss";

$footer_col: $primary;

// --------------------------------

body {
  background:
  url('band_brazil_left.jpg') repeat-y left top,
  url('band_brazil_right.jpg') repeat-y right top;
}

li.active > a, a.active {
  color: $success !important;
}

a.active::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  height: 3px;
  width: 80%;
  background-color: $warning;
}

.img-card {
  height: 150px;
  margin: auto;
  text-align: center;
}

.thumbprod {
  width: 75px;
  margin: auto;
}

.mediumprod {
  border: 1px solid $dark;
  margin: auto;
  margin-top: 0;
  text-align: center;
}

#datepres {
  color: $primary;
}

#datepres:hover {
  color: #000;
  text-decoration: underline;
}

#datepres:hover ~ .visonhover {
  display: block;
}

.visonhover:hover {
  display: block;
}

.visonhover {
  display: none;
}

.blink_text {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: $danger;
    }

    @-moz-keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

img {
  margin: 10px;
}

.error {
  border: 2px solid $danger;
}

table {
  table-layout:fixed;
  padding-left: 25%;
  box-shadow: 1px 1px 12px $secondary;
  }
thead {
  background-color: $warning;
}
td.narrow, th.narrow {
  width: 30px;
  text-align: center;
}
td.nopad {
  padding: 0;
}

.col_dates {
  width: 70px;
}

#logo {
  height: 70px;
  -webkit-filter: drop-shadow(5px 5px 5px $dark);
  filter: drop-shadow(5px 5px 5px $dark);
}

#index_presences {
  overflow: scroll;
}

footer {
  padding-top: 50px;
}
#pdp {
  padding-top: 10px;
  min-height: 44px;
  background-color: $footer_col;
  color: #FFF;
  a {
    color: #FFF;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: $warning;
}

#photo-identite {
  height: 150px;
  text-align: center;
}

h1, h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $dark;
  box-shadow: 1px 1px 12px $secondary;
}

h6 {
  font-size: 1.2rem;
  text-align: center;
}

label {
  padding-top: 10px;
}

.form-control {
  background-color: #ffffa0;
}

#cert_med {
  width: 100%;
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

// --------------------------------------------------------
// ---------------------- CSS MOBILES ---------------------
// --------------------------------------------------------


@media (max-width: 940px) {

  * {
    padding: 0;
    margin: 0;
  }

  [class*='col-'] {
      padding-right: 10px;
      padding-left: 10px;
  }

  .container {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 7px;
    padding-top: 5px;
  }

  h4 {
    font-size: 1.1rem;
  }

  a, p {
    font-size: 0.8rem;
  }

  table {
    margin-top: 10px;
    padding-left: 0;
  }

  .table th, .table td {
    padding: 0.25rem;
  }

  th, td {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    overflow: scroll;
  }

  td.narrow, th.narrow {
    width: 20px;
  }

  #logo {
    height: 70px;
  }
  
  .navbar {
    padding: 0;
  }

  #pdp {
    padding-left: 10px;
    padding-right: 10px;
  }

  #pdp p, #pdp a {
    font-size: 0.8rem;
  }

}