<h3>Mentions Légales et Gestion de la vie privée</h3>
<br/>
      <h4>L'association Culture Brésil est l'éditeur et le prestataire technique de ce site.</h4>
      <br/>
      <h4>OVH est l'hébergeur.</h4>
      <br/>
      <h4>Nom ou Raison sociale :</h4>
      <p>Association Culture Brésil (Grupo Cultura Capoeira)</p>
      <p>Marcelo Brandäo De Macedo</p>
      <h4>Adresse Siège Social :</h4>
      <p>16 rue de Normandie</p>
      <p>53410 Bourgon</p>
      <p>06 70 32 46 66</p>
      <h4>Adresse électronique :</h4>
      <p>marcelo@grupoculturacapoeira.com</p>
      <h4>N° SIREN :</h4>
      <p>487 977 266</p>
      <h4>Code APE :</h4>
      <p>6201Z</p>
      <h4>Directeur de rédaction et de publication :</h4>
      <p>Marcelo Brandão de Macedo</p>
      <p>Caroline Berteau</p>
      <p>Frédéric Reubrecht</p>
      <hr>
      <h4>Coordonnées de l'hébergeur OVH :</h4>
      <p>SAS au capital de 10 000 000 €</p>

      <p>RCS Roubaix – Tourcoing 424 761 419 00045</p>

      <p>Code APE 6202A</p>

      <p>N° TVA : FR 22 424 761 419</p>

      <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>

      <p>Directeur de la publication : Octave KLABA</p>
      <hr>
      <h4>A propos des cookies :</h4>
      <p>Ce site n'utilise aucun cookie</p>

      <hr>
      <h4>Gestion de la vie privée :</h4>
      <p>Les données à caractère personnel recueillies à l'occasion des affiliations, des commandes, et des inscriptions à des évènements sur le site www.asso.grupoculturacapoeira.com, hébergé sur un serveur privé de l'association et loué chez l'hébergeur OVH, font l’objet d'une confidentialité totale.</p>
      <p>Les données ne seront jamais utilisées à des fins autres non prévues ni transmises à des partenaires. Aucune information personnelle autre que celles demandées dans ce cadre n’est collectée à l'insu des personnes concernées.</p>
      <p>Par ailleurs, les données collectées via les traitements de données à caractère personnel du présent site ne font l'objet d'aucun transfert en dehors du territoire de l'Union Européenne.</p>
      <p>Les données transitant par le site font l'objet d'une attention de tous les instants quant à leur sécurité et leur confidentialité. Outre un site web en HTTPS, l'accès à l'arrière-guichet (back-office) du site est possible via des logins inventifs et des mots de passe complexes à protection forte.</p>
      <p>Le site web www.asso.grupoculturacapoeira.com est équipé de nombreux modules de sécurité empêchant au maximum les intrusions malveillantes et les fuites de données.</p>
<br/>
      <p>Cependant, l'utilisateur de ce site ou le client peut à tout moment introduire une réclamation auprès de la Commission Nationale Informatique et Libertés (CNIL), autorité de contrôle française.</p>
<br/>
      <p>Enfin, conformément aux articles 15 et suivants du Règlement général sur la protection des données, l'utilisateur de ce site bénéficie des droits d’accès, de rectification, d'effacement et de limitation portant sur les données le concernant ainsi que du droit d'opposition portant sur les traitements de données opérés via le site www.asso.grupoculturacapoeira.com en envoyant un e-mail ou bien un courrier postal adressé à :</p>
      <p>Monsieur Marcelo Brandão De Macedo</p>
      <p>16 rue de Normandie</p>
      <p>53140 Bourgon</p>
      <p>marcelo@grupoculturacapoeira.com</p>
      <p>Vous avez également la possibilité de supprimer totalement votre compte en cliquant sur "Mon compte" puis "Editer mon profil" puis "Supprimer mon compte" en bas de la page.</p>