<div id="pdp" class="fixed-bottom">
    <div class="row">
        <div class="col-4 text-center">
            <% if current_user %>
                <p>Bienvenue <%= current_user.email %></p>
            <% end %>
        </div>
        <div class="col-4 text-center">
            <p><%= link_to "asso GCC", root_path %></p>
        </div>
        <% if current_user %>
        <div class="col-4 text-center">
            <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %>
        </div>
        <% end %>
    </div>
</div>

