<p>Bonjour <%= @resource.email %> !</p>

<p>Nous vous contactons pour vous signaler que votre mot de passe a été modifié.</p>

<p>Marcelo Brandao De Macedo -  Grupo Cultura Capoeira</p>

<p>Pour toutes questions, vous pouvez contacter le webmaster à <a href="mailto:contact@artandteo.com">contact@artandteo.com</a></p>
